$clr-primary: #8dc63f;

.wrapper-autosuggest {
	.wrapper-input {
		position: relative;
	}
	.loading-spinner {
		color: red;
		position: absolute;
		right: 1.2em;
		top: 1.2em;
		content: "";
		border: 2px solid rgba(0, 0, 0, 0.2);
		border-top: 2px solid rgba(0, 0, 0, 0.4);
		width: 1em;
		height: 1em;
		border-radius: 50%;
		animation: spin 1s linear infinite;
		z-index: 2;
	}

	@keyframes spin {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}

	.status {
		line-height: 52px;
	}

	.react-autosuggest__container {
		width: 32em;
		height: auto;
		position: relative;
	}

	section {
		margin: 0;
	}

	h3 {
		margin-bottom: 1em;
		font-weight: bold;
		color: $clr-primary;
	}

	.react-autosuggest__input {
		display: block;
		width: 100%;
		height: 4em;
		padding: 1em 1.5em;
		box-sizing: border-box;
		font-size: 1em;
		border: 1px solid #aaa;
		border-radius: 1em;
		outline: none;
		transition: border-radius 250ms ease;
		padding-left: 1.4em !important;
		padding-right: 1.4em !important;
		&:focus {
			outline: none;
			border: 1px solid $clr-primary !important;
		}
		.react-autosuggest__container--open & {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: 0;
		}
	}

	.react-autosuggest__suggestions-container {
		width: 100%;
		visibility: hidden;
		will-change: opacity;
		position: relative;
		overflow: hidden;
		transform-origin: 50% 0%;
		transform: scale(1, 0);
		opacity: 0;
		transition: all 250ms ease;
		.react-autosuggest__container--open & {
			display: block;
			position: absolute;
			top: 3em;
			width: 100%;
			transform: scale(1, 1);
			visibility: visible;
			opacity: 1;
			box-sizing: border-box;
			border: 1px solid $clr-primary;
			border-top: 0;
			background-color: #fff;
			font-family: Helvetica, sans-serif;
			border-radius: 1em;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			z-index: 2;
			.suggestion {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
			.name {
				color: #ccc;
			}
			.tagname {
				font-size: 0.7em;
				padding: 0.25em 0.5em;
				box-sizing: border-box;
				background: $clr-primary; //#ccc;
				color: white;
				margin-right: 1em;
			}
		}
	}

	.react-autosuggest__suggestions-list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.react-autosuggest__suggestion {
		cursor: default;
		box-sizing: border-box;
		padding: 1em 0.8em;
		.name b {
			font-weight: bold;
			color: #888;
		}
	}

	.react-autosuggest__suggestion--focused .suggestion {
		color: lighten($clr-primary, 10%);
		b {
			color: darken($clr-primary, 5%);
		}
	}
}
@media only screen and (max-width: 600px) {
	.wrapper-autosuggest, .react-autosuggest__container {
		width: 100%!important;
	}
}
